/baselines/fedper/client_states/2026-07-09/07-51-18/client_0
/baselines/fedper/client_states/2026-07-09/07-51-18/client_1
/baselines/fedper/client_states/2026-07-09/07-51-18/client_2
/baselines/fedper/client_states/2026-07-09/07-51-18/client_3
/baselines/fedper/client_states/2026-07-09/07-51-18/client_4
/baselines/fedper/client_states/2026-07-09/07-51-18/client_5
/baselines/fedper/client_states/2026-07-09/07-51-18/client_6
/baselines/fedper/client_states/2026-07-09/07-51-18/client_7
/baselines/fedper/client_states/2026-07-09/07-51-18/client_8
/baselines/fedper/client_states/2026-07-09/07-51-18/client_9
/baselines/fedper/client_states/2026-07-12/10-40-28/client_0
/baselines/fedper/client_states/2026-07-12/10-40-28/client_1
/baselines/fedper/client_states/2026-07-12/10-40-28/client_2
/baselines/fedper/client_states/2026-07-12/10-40-28/client_3
/baselines/fedper/client_states/2026-07-12/10-40-28/client_4
/baselines/fedper/client_states/2026-07-12/10-40-28/client_5
/baselines/fedper/client_states/2026-07-12/10-40-28/client_6
/baselines/fedper/client_states/2026-07-12/10-40-28/client_7
/baselines/fedper/client_states/2026-07-12/10-40-28/client_8
/baselines/fedper/client_states/2026-07-12/10-40-28/client_9
/baselines/fedper/client_states/2026-07-12/13-11-42/client_1
/baselines/fedper/client_states/2026-07-12/13-11-42/client_4
/baselines/fedper/client_states/2026-07-12/13-11-42/client_6
/baselines/fedper/client_states/2026-07-12/13-11-42/client_8
/baselines/fedper/client_states/2026-07-13/19-11-32/client_0
/baselines/fedper/client_states/2026-07-13/19-11-32/client_1
/baselines/fedper/client_states/2026-07-13/19-11-32/client_2
/baselines/fedper/client_states/2026-07-13/19-11-32/client_3
/baselines/fedper/client_states/2026-07-13/19-11-32/client_4
/baselines/fedper/client_states/2026-07-13/19-11-32/client_5
/baselines/fedper/client_states/2026-07-13/19-11-32/client_6
/baselines/fedper/client_states/2026-07-13/19-11-32/client_7
/baselines/fedper/client_states/2026-07-13/19-11-32/client_8
/baselines/fedper/client_states/2026-07-13/19-11-32/client_9
/baselines/fedper/client_states/2026-07-13/19-52-51/client_0
/baselines/fedper/client_states/2026-07-13/19-52-51/client_1
/baselines/fedper/client_states/2026-07-15/07-43-16/client_0
/baselines/fedper/client_states/2026-07-15/07-43-16/client_1
/baselines/fedper/client_states/2026-07-17/19-38-05/client_0
/baselines/fedper/client_states/2026-07-17/19-38-05/client_1
/baselines/fedper/client_states/2026-07-23/07-47-01/client_0
/baselines/fedper/client_states/2026-07-23/07-47-01/client_1
/baselines/fedper/client_states/2026-07-23/20-14-15/client_0
/baselines/fedper/client_states/2026-07-23/20-14-15/client_1
/baselines/fedper/client_states/2026-07-23/20-31-21/client_0
/baselines/fedper/client_states/2026-07-23/20-31-21/client_1
/baselines/fedper/datasets/cifar10/cifar-10-batches-py/batches.meta
/baselines/fedper/datasets/cifar10/cifar-10-batches-py/data_batch_1
/baselines/fedper/datasets/cifar10/cifar-10-batches-py/data_batch_2
/baselines/fedper/datasets/cifar10/cifar-10-batches-py/data_batch_3
/baselines/fedper/datasets/cifar10/cifar-10-batches-py/data_batch_4
/baselines/fedper/datasets/cifar10/cifar-10-batches-py/data_batch_5
/baselines/fedper/datasets/cifar10/cifar-10-batches-py/readme.html
/baselines/fedper/datasets/cifar10/cifar-10-batches-py/test_batch
/baselines/fedper/datasets/cifar10/cifar-10-python.tar.gz
/baselines/fedper/datasets/cifar10/partition.pkl
/baselines/fedper/outputs/2026-07-06/17-52-16/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-06/17-52-16/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-06/17-52-16/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-06/17-52-16/main.log
/baselines/fedper/outputs/2026-07-08/20-59-43/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-08/20-59-43/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-08/20-59-43/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-08/20-59-43/main.log
/baselines/fedper/outputs/2026-07-08/21-22-38/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-08/21-22-38/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-08/21-22-38/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-08/21-22-38/main.log
/baselines/fedper/outputs/2026-07-09/07-51-18/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-09/07-51-18/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-09/07-51-18/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-09/07-51-18/main.log
/baselines/fedper/outputs/2026-07-12/10-40-28/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-12/10-40-28/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-12/10-40-28/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-12/10-40-28/main.log
/baselines/fedper/outputs/2026-07-12/13-11-41/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-12/13-11-41/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-12/13-11-41/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-12/13-11-41/main.log
/baselines/fedper/outputs/2026-07-12/13-21-57/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-12/13-21-57/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-12/13-21-57/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-12/13-21-57/main.log
/baselines/fedper/outputs/2026-07-12/17-07-07/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-12/17-07-07/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-12/17-07-07/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-12/17-07-07/main.log
/baselines/fedper/outputs/2026-07-12/17-34-08/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-12/17-34-08/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-12/17-34-08/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-12/17-34-08/main.log
/baselines/fedper/outputs/2026-07-12/19-19-32/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-12/19-19-32/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-12/19-19-32/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-12/19-19-32/main.log
/baselines/fedper/outputs/2026-07-13/19-11-32/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-13/19-11-32/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-13/19-11-32/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-13/19-11-32/main.log
/baselines/fedper/outputs/2026-07-13/19-28-25/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-13/19-28-25/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-13/19-28-25/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-13/19-28-25/main.log
/baselines/fedper/outputs/2026-07-13/19-52-51/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-13/19-52-51/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-13/19-52-51/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-13/19-52-51/distributed_metrics_AggregateBodyStrategyPipeline_C=2_B=128_E=1_R=2_lr=0.01.png
/baselines/fedper/outputs/2026-07-13/19-52-51/main.log
/baselines/fedper/outputs/2026-07-13/19-52-51/results.pkl
/baselines/fedper/outputs/2026-07-15/07-43-15/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-15/07-43-15/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-15/07-43-15/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-15/07-43-15/distributed_metrics_AggregateBodyStrategyPipeline_C=2_B=128_E=1_R=2_lr=0.01.png
/baselines/fedper/outputs/2026-07-15/07-43-15/main.log
/baselines/fedper/outputs/2026-07-15/07-43-15/results.pkl
/baselines/fedper/outputs/2026-07-17/19-38-05/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-17/19-38-05/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-17/19-38-05/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-17/19-38-05/distributed_metrics_AggregateBodyStrategyPipeline_C=2_B=128_E=1_R=2_lr=0.01.png
/baselines/fedper/outputs/2026-07-17/19-38-05/main.log
/baselines/fedper/outputs/2026-07-17/19-38-05/results.pkl
/baselines/fedper/outputs/2026-07-23/07-47-00/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-23/07-47-00/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-23/07-47-00/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-23/07-47-00/distributed_metrics_AggregateBodyStrategyPipeline_C=2_B=128_E=1_R=2_lr=0.01.png
/baselines/fedper/outputs/2026-07-23/07-47-00/main.log
/baselines/fedper/outputs/2026-07-23/07-47-00/results.pkl
/baselines/fedper/outputs/2026-07-23/08-02-30/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-23/08-02-30/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-23/08-02-30/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-23/08-02-30/main.log
/baselines/fedper/outputs/2026-07-23/20-13-40/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-23/20-13-40/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-23/20-13-40/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-23/20-13-40/main.log
/baselines/fedper/outputs/2026-07-23/20-14-15/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-23/20-14-15/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-23/20-14-15/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-23/20-14-15/distributed_metrics_AggregateBodyStrategyPipeline_C=2_B=128_E=1_R=2_lr=0.01.png
/baselines/fedper/outputs/2026-07-23/20-14-15/main.log
/baselines/fedper/outputs/2026-07-23/20-14-15/results.pkl
/baselines/fedper/outputs/2026-07-23/20-31-21/.hydra/config.yaml
/baselines/fedper/outputs/2026-07-23/20-31-21/.hydra/hydra.yaml
/baselines/fedper/outputs/2026-07-23/20-31-21/.hydra/overrides.yaml
/baselines/fedper/outputs/2026-07-23/20-31-21/distributed_metrics_AggregateBodyStrategyPipeline_C=2_B=128_E=1_R=2_lr=0.01.png
/baselines/fedper/outputs/2026-07-23/20-31-21/main.log
/baselines/fedper/outputs/2026-07-23/20-31-21/results.pkl
